input {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  height: 56px;
  border-radius: 8px;
  padding-left: 12px;
  line-height: 20.27px;
  border: 1px solid #828282;
  box-sizing: border-box;
  outline: none;
}

textarea {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  border-radius: 8px;
  padding: 12px;
  line-height: 20.27px;
  border: 1px solid #828282;
  box-sizing: border-box;
  outline: none;
}

.input-group .input:hover {
  border: 1px solid #333333;
}

.input-group .input:focus {
  border: 1px solid #2962FF;
}

.flex-input {
  display: flex;
  flex-direction: row;
}

.flex-input div {
  margin-right: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

.label {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 4px;
}

/* #error div {
  color: #D32F2F;
} */

#error .input:hover {
  border: 1px solid #333333;
}

#error .input, #error .input:focus {
  border: 1px solid #D32F2F;
}

.helperText {
  font-family: Noto Sans JP;
  margin-top: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #828282;
}

#error .helperText {
  color: #D32F2F;
}

.start-icon {
  position: absolute;
  font-size: 17px;
  top: 40px;
  left: 15px;
  color: #828282;
}

.end-icon {
  position: absolute;
  font-size: 17px;
  top: 40px;
  right: 15px;
  color: #828282;
}

.sm {
  height: 40px;
}

.md {
  height: 56px;
}